<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/image1.png" alt="cat profile" />
<p>
  Hi, I'm Abhishek Verma, a passionate and detail-oriented web developer with a
  strong foundation in frontend and backend technologies. I enjoy building
  responsive, user-friendly applications that solve real-world problems. With
  experience in technologies like Next.js, React, Node.js, and Tailwind CSS, I
  strive to write clean, maintainable code and continuously learn and grow in
  the ever-evolving tech world.
</p>
<%- include("partials/footer.ejs") %>
