<%- include("partials/header.ejs") %>

<h1>Home Page</h1>

<p>
  Software Developer | MERN Stack Enthusiast | Creative Technologist Welcome to
  my portfolio! I'm a passionate software developer with a strong foundation in
  both frontend and backend technologies. With hands-on experience in HTML, CSS,
  JavaScript, ReactJS, Node.js, Express, and MongoDB, I enjoy building
  full-stack web applications that are clean, efficient, and user-friendly.
  Beyond code, I love blending creativity with technology—whether it's designing
  impactful posters, editing videos, or even creating logic-based games. My
  journey has been shaped by a blend of engineering education, self-driven
  projects, and a curiosity for continuous learning.
</p>


<%- include("partials/footer.ejs") %>
